@(message: String)

@main("Welcome to RCCC Audio/Video System!") {

  <div align="center" style="border: 1px solid gray">
    <div class="v_selection_box">
      <input id="G0_1" type="button" onclick="turnSystem('results', 'On');"  value="ON" class="systembutton">
      <input id="G0_2" type="button" onclick="turnSystem('results', 'Off');" value="OFF" class="systembutton">
    </div>
    <div class="v_selection_box oddrow">
      <span class="projectors">FRONT RIGHT, FRONT LEFT and BACK PROJECTOR</span><br />
      <input id="G1_1" class="inputNames" type="button" name="group1_projectors" value="Mac"
        onclick="switchInput('results', 'G1', 'mac');" style="background-color: red">
      </input>
      <input id="G1_2" class="inputNames" type="button" name="group1_projectors" value="Podium"
        onclick="switchInput('results', 'G1', 'podium');">
      </input>
      <input id="G1_3" class="inputNames" type="button" name="group1_projectors" value="Cam"
        onclick="switchInput('results', 'G1', 'camcorder');">
      </input>
      <input id="G1_4" class="inputNames" type="button" name="group1_projectors" value="Laptop"
        onclick="switchInput('results', 'G1', 'laptop');">
      </input>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <input id="G11_1" class="inputNames" type="button" name="group11_actions" value="FRZ ON"
        onclick="doComboCommand('results', 'G11_', 1);">
      </input>
      <input id="G11_2" class="inputNames" type="button" name="group11_actions" value="FRZ OFF"
        onclick="doComboCommand('results', 'G11_', 2);" style="background-color: red">
      </input>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <input id="G12_1" class="onoffNames" type="button" name="group12_actions" value="ON"
        onclick="doComboCommand('results', 'G12_', 1);" style="background-color: red">
      </input>
      <input id="G12_2" class="onoffNames" type="button" name="group12_actions" value="OFF"
        onclick="doComboCommand('results', 'G12_', 2);">
      </input>
    </div>
    <div class="v_selection_box evenrow">
      <span class="projectors">FRONT CENTER PROJECTOR</span><br />
      <input id="G2_1" class="inputNames" type="button" name="group2_projectors" value="Mac"
        onclick="switchInput('results', 'G2', 'mac');" style="background-color: red">
      </input>
      <input id="G2_2" class="inputNames" type="button" name="group2_projectors" value="Podium"
        onclick="switchInput('results', 'G2', 'podium');">
      </input>
      <input id="G2_3" class="inputNames" type="button" name="group2_projectors" value="Cam"
        onclick="switchInput('results', 'G2', 'camcorder');">
      </input>
      <input id="G2_4" class="inputNames" type="button" name="group2_projectors" value="Laptop"
        onclick="switchInput('results', 'G2', 'laptop');">
      </input>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <input id="G21_1" class="inputNames" type="button" name="group21_actions" value="FRZ ON"
        onclick="doComboCommand('results', 'G21_', 1);">
      </input>
      <input id="G21_2" class="inputNames" type="button" name="group21_actions" value="FRZ OFF"
        onclick="doComboCommand('results', 'G21_', 2);" style="background-color: red">
      </input>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <input id="G22_1" class="onoffNames" type="button" name="group22_actions" value="ON"
        onclick="doComboCommand('results', 'G22_', 1);"  style="background-color: red">
      </input>
      <input id="G22_2" class="onoffNames" type="button" name="group22_actions" value="OFF"
        onclick="doComboCommand('results', 'G22_', 2);">
      </input>
    </div>
    <div class="v_selection_box oddrow">
      <span class="projectors">DTV CHANNEL 1-1</span><br />
      <input id="G3_1" class="inputNames" type="button" name="group3_projectors" value="Mac"
        onclick="switchInput('results', 'G3', 'mac');" style="background-color: red">
      </input>
      <input id="G3_2" class="inputNames" type="button" name="group3_projectors" value="Podium"
        onclick="switchInput('results', 'G3', 'podium');">
      </input>
      <input id="G3_3" class="inputNames" type="button" name="group3_projectors" value="Cam"
        onclick="switchInput('results', 'G3', 'camcorder');">
      </input>
      <input id="G3_4" class="inputNames" type="button" name="group3_projectors" value="Laptop"
        onclick="switchInput('results', 'G3', 'laptop');">
      </input>
    </div>
    <div class="v_selection_box evenrow">
      <span class="projectors">DTV CHANNEL 2-1</span><br />
      <input id="G4_1" class="inputNames" type="button" name="group4_projectors" value="Mac"
        onclick="switchInput('results', 'G4', 'mac');" style="background-color: red">
      </input>
      <input id="G4_2" class="inputNames" type="button" name="group4_projectors" value="Podium"
        onclick="switchInput('results', 'G4', 'podium');">
      </input>
      <input id="G4_3" class="inputNames" type="button" name="group4_projectors" value="Cam"
        onclick="switchInput('results', 'G4', 'camcorder');">
      </input>
      <input id="G4_4" class="inputNames" type="button" name="group4_projectors" value="Laptop"
        onclick="switchInput('results', 'G4', 'laptop');">
      </input>
    </div>
    <div class="v_selection_box oddrow">
      <span class="projectors">AUDIO RECORDING</span><br/>
      <input id="G5_1" type="button" onclick="doRecording('results', 'START');"
        value="Start" class="audiobutton">
      <input id="G5_2" type="button" onclick="doRecording('results', 'STOP');"
        value="Stop" class="audiobutton" style="background-color: red">&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="/rcccav/listing">
        <button class="audiobutton">View Recorded Files</button>
      </a>
    </div>
    <div id="results" align="left" class="results evenrow" />
  </div>
}
