@(message: String)

@main("Welcome to RCCC Audio/Video System!") {

<div>
  <div align="center">
    <div class="v_selection_box">
      <input type="button" onclick="turnSystem('results', 'On');"  value="ON" class="onoffbutton">
      <input type="button" onclick="turnSystem('results', 'Off');" value="OFF" class="onoffbutton">
    </div>
    <div class="v_selection_box">
      <span class="projectors">FRONT RIGHT, FRONT LEFT and BACK PROJECTOR</span><br />
      <input type="radio" name="group1_projectors" value="mac" onclick="switchInput('results', 'G1', 'mac');">
        <span class="inputNames">Mac</span>
      </input>&nbsp;
      <input type="radio" name="group1_projectors" value="podium" onclick="switchInput('results', 'G1', 'podium');">
        <span class="inputNames">Podium</span>
      </input>&nbsp;
      <input type="radio" name="group1_projectors" value="camcorder" onclick="switchInput('results', 'G1', 'camcorder');">
        <span class="inputNames">Camcorder</span>
      </input>
    </div>
    <div class="v_selection_box">
      <span class="projectors">FRONT CENTER PROJECTOR</span><br />
      <input type="radio" name="group2_projectors" value="mac" onclick="switchInput('results', 'G2', 'mac');">
        <span class="inputNames">Mac</span>
      </input>&nbsp;
      <input type="radio" name="group2_projectors" value="podium" onclick="switchInput('results', 'G2', 'podium');">
        <span class="inputNames">Podium</span>
      </input>&nbsp;
      <input type="radio" name="group2_projectors" value="camcorder" onclick="switchInput('results', 'G2', 'camcorder');">
        <span class="inputNames">Camcorder</span>
      </input>
    </div>
    <div class="v_selection_box">
      <span class="projectors">RCCC DTV CHANNEL #1</span><br />
      <input type="radio" name="group3_projectors" value="mac" onclick="switchInput('results', 'G3', 'mac');">
        <span class="inputNames">Mac</span>
      </input>&nbsp;
      <input type="radio" name="group3_projectors" value="podium" onclick="switchInput('results', 'G3', 'podium');">
        <span class="inputNames">Podium</span>
      </input>&nbsp;
      <input type="radio" name="group3_projectors" value="camcorder" onclick="switchInput('results', 'G3', 'camcorder');">
        <span class="inputNames">Camcorder</span>
      </input>
    </div>
    <div class="v_selection_box">
      <span class="projectors">RCCC DTV CHANNEL #2</span><br />
      <input type="radio" name="group4_projectors" value="mac" onclick="switchInput('results', 'G4', 'mac');">
        <span class="inputNames">Mac</span>
      </input>&nbsp;
      <input type="radio" name="group4_projectors" value="podium" onclick="switchInput('results', 'G4', 'podium');">
        <span class="inputNames">Podium</span>
      </input>&nbsp;
      <input type="radio" name="group4_projectors" value="camcorder" onclick="switchInput('results', 'G4', 'camcorder');">
        <span class="inputNames">Camcorder</span>
      </input>
    </div>
    <div class="v_selection_box">
      <span class="projectors">PROJECTOR ACTION</span><br />
      <input type="radio" name="projectors" value="projector_front_left" checked="checked">
        <span class="inputNames">Front Left</span>
      </input>&nbsp;
      <input type="radio" name="projectors" value="projector_front_center">
        <span class="inputNames">Front Center</span>
      </input>&nbsp;
      <input type="radio" name="projectors" value="projector_front_right">
        <span class="inputNames">Front Right</span>
      </input>&nbsp;
      <input type="radio" name="projectors" value="projector_back_center">
        <span class="inputNames">Back</span>
      </input><br/><br/>
      <input type="radio" name="projector_actions" value="ON" checked="checked">
        <span class="inputNames">On</span>
      </input>&nbsp;
      <input type="radio" name="projector_actions" value="OFF">
        <span class="inputNames">Off</span>
      </input>&nbsp;
      <input type="radio" name="projector_actions" value="MUTE_ON">
        <span class="inputNames">Mute On</span>
      </input>&nbsp;
      <input type="radio" name="projector_actions" value="MUTE_OFF">
        <span class="inputNames">Mute Off</span>
      </input><br/><br/>
      <input type="button" onclick="doCommand('results');" value="Apply" class="onoffbutton">
    </div>
  </div>
  <div id="results" class="results" />
</div>

}
