
body {
    font-family: verdana;
}

.results {
    overflow-y: scroll;
    height: 60px;
    margin: 0px 20px 0px 20px;
    padding: 2px;
    border: 1px solid green;
    font-size: 8px;
    min-width: 200px;
}

.v_selection_box {
    margin: 1px 20px 1px 20px;
    padding: 8px;
    border: 1px solid gray;
    font-size: 8px;
    min-width: 200px;
}

span.projectors {
    font-size: 12px;
}

span.inputNames {
    font-family: verdana;
    font-size: 9px;
}

input.onoffbutton {
    width: 60px;
    height: 20px;
    margin: 0px 40px 0px 40px;
    border: 1px solid red;
    background-color: red;
}
