
body {
    font-family: verdana;
}

.oddrow {
    background-color: #e6e6e6;
    border: 1px solid #e6e6e6;
    border-width:16px 1px 16px 1px;
}

.evenrow {
    background-color: #ffffff;
    border: 1px solid #ffffff;
    border-width:16px 1px 16px 1px;
}

.results {
    overflow-y: scroll;
    height: 60px;
    border: 1px solid gray;
    font-size: 16px;
    min-width: 400px;
}

.v_selection_box {
    padding: 2px;
    min-width: 400px;
}

span.projectors {
    font-size: 20px;
    color: blue;
}

input.inputNames {
    font-family: verdana;
    width:100px;
    margin: 0px 1px 0px 1px;
    border: 1px solid gray;
    font-size: 18px;
    color: #005A31;
    backgroud-color: #f2f2f2;
}

input.onoffNames {
    font-family: verdana;
    width:60px;
    margin: 0px 1px 0px 1px;
    border: 1px solid gray;
    font-size: 18px;
    color: #005A31;
    backgroud-color: #f2f2f2;
}

input.onoffbutton {
    width: 100px;
    height: 30px;
    margin: 0px 40px 0px 40px;
    border: 1px solid green;
    background-color: #f2f2f2;
    font-size: 20px;
}

input.audiobutton {
    width: 100px;
    height: 30px;
    margin: 0px 40px 0px 40px;
    border: 1px solid green;
    background-color: #f2f2f2;
    font-size: 20px;
}

input.systembutton {
    width: 160px;
    height: 50px;
    margin: 10px 10px 10px 10px;
    border: 1px solid red;
    background-color: red;
    font-size: 40px;
}
